/* Navigaion start */
.navbar {
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    font-family: Arial;
    padding-top: 33px;;
  }
  
  /* Links inside the navbar */
  .navbar a {
    font-size: 18px;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 14px 16px;
    text-decoration: none;
  }

  .HNaviBtns{
    background-color: transparent;
    color:black;
    letter-spacing: 1.5px;
    height: 20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Add a purple color to navbar links on hover */
  .navbar a:hover, .HNaviBtns:hover {
    color: rgb(168, 49, 247);
  }

/* Navigaion End */

.Tbl{
    width: 100%;
    height: 500px;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.box1{
    width: 580px;
    padding: 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 10px 10px 15px 6px rgb(193, 131, 235);
}

.box2{
    width: 93%;
    padding: 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 10px 10px 15px 6px rgb(193, 131, 235);
}

.box1:hover, .box2:hover {
    -webkit-box-shadow: 6px 8px 15px -6px #333;
    box-shadow: 6px 8px 15px -6px #333;
}

.BoxHeadText{
    text-align: left;
    color: rgb(168, 49, 247);
    margin-bottom: 10px;
    font-weight: 900;
    font-family: Arial;
    padding-left: 10px;
    padding-right: 10px;
}

.BoxHeadHr{
    color: rgb(168, 49, 247);
    border: rgb(168, 49, 247);
    border-style: solid;
    width: 97%;
}

.DivM{
    display: flex;
}

.DivR{
    padding-left: 90px;
}

.BoxBody{
    text-align: left;
    font-family: Arial;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 10px;
}

footer{
    color: rgb(136, 135, 135);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 8px;
}